:root {
    --blanco: #fcfcfc;
    --negro: rgb(63, 63, 62);
    --gris: #757575;
    --grisOscuro: rgb(63, 63, 62);
    --rojo: rgb(199, 19, 49);
    --rojoIconos: rgb(194, 19, 48);
    --rojoIconosClaro: rgb(219, 5, 40);    
}

.menuDesplegado {
    margin-top: var(--alturaMenu);
}

#desplegableDd1,
#desplegableDd2,
#desplegableDd3{
    height: .001rem;
}

.PExpand {
    display: none;
}

@media (max-width: 959px) {
    .PExpand {
        display: flex;
        width: 20%;
        position: relative;
    }
}

.ocultarBoton {
    display: none !important;
}

.mostrarBoton {
    display: block !important;
}

.BtnAM {
    fill: var(--rojoIconos);
    position: absolute;
    height: 100%;
    width: 45%;
    left: 25%;
    background-color: white;
    border: none;
    cursor: pointer;
}

/* .iconoIgual:hover .clsGuion1{
    transform: rotate(360deg);
    transition: transform 0.8s ease-in-out;
}

.iconoIgual:hover .clsGuion2{
    transform: rotate(-360deg);
    transition: transform 0.8s ease-in-out;
} */

/* .iconoIgual:hover .clsGuion1{
    transform: translateY(1.6rem);
    transition: transform 0.8s ease-in-out;
}

.iconoIgual:hover .clsGuion2{
    transform: translateY(-1.6rem);
    transition: transform 0.8s ease-in-out;
} */

/* .iconoIgual:hover{
    transform: rotate(-360deg);
    transition: transform 0.8s ease-in-out;
} */

.BtnCM {
    fill: var(--rojoIconos) !important;
    position: absolute;
    top: 18%;
    /* height: 96%; */
    width: 35%;
    left: 31%;
    background-color: white;
    border: none;
    cursor: pointer;
    fill: black;
}

/* .iconoEquis:hover{
    transform: rotate(360deg);
    transition: transform 0.8s ease-in-out;
} */

/* BtnCM2 */
.BtnAM,
.BtnCM,
.flechaItem {
    display: none;
}

.item {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
    z-index: 5;
    height: 60px;
    line-height: 6;
    flex-grow: 1;
    white-space: nowrap;
}

.item:hover {
    color: rgba(190, 45, 55, 0.9);
}

.flechaItem {
    fill: var(--rojoIconos);
    width: 1.3em;
    transition: transform 0.3s ease;
}

.desplegable1 svg,
.desplegable2 svg,
.desplegable3 svg {
    transition: transform .5s ease-in-out;
}

.flechaItem1.rotado {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.flechaItem2.rotado {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.flechaItem3.rotado {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

/* ************************************************* */
.dropdown1 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 110%;
    background-color: white;
    text-align: left;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

@media (min-width: 960px) {
    .dropdown1 {
        left: -2rem;
        width: 130% !important;
        margin-left: 1.3rem;
        line-height: 2;
        overflow: hidden;
    }

    .dropdown1 a {
        padding: 1.3rem;
        line-height: 1.3;
    }
}

@media (max-width: 959px) {
    .dropdown1 {
        width: 100%;
        /* margin-left: 1.9rem; */
        /* border: black solid .1rem; */
    }

    .dropdown1 a {
        /* margin: auto 0; */
        padding: 1.3rem 1rem;
        line-height: 1.3;
        /* border: black solid .1rem; */
    }
}

.dropdown1 a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    max-height: 50px;
    color: black;
    white-space: wrap;
    box-sizing: border-box;
    margin: auto 0;
}


.dropdown1 a:active {
    color: rgba(190, 45, 55, 0.9);
}

.dpd1Desplegado {
    margin-top: var(--alturaDropdown1);
}

/* ******************************************** */

.dropdown2 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 110%;
    background-color: white;
    text-align: left;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

@media (min-width: 960px) {
    .dropdown2 {
        left: -2rem;
        width: 300% !important;
        margin-left: 1.3rem;
        line-height: 2;
        overflow: hidden;
    }

    .dropdown2 a {
        padding: 1.3rem;
        line-height: 1.3;
    }
}

@media (max-width: 959px) {
    .dropdown2 {
        width: 100%;
        /* margin-left: 1.9rem; */
        /* border: black solid .1rem; */
    }

    .dropdown2 a {
        /* margin: auto 0; */
        padding: 1.3rem 1rem;
        line-height: 1.3;
        /* border: black solid .1rem; */
    }
}

.dropdown2 a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    max-height: 50px;
    color: black;
    white-space: wrap;
    box-sizing: border-box;
    margin: auto 0;
}


.dropdown2 a:active {
    color: rgba(190, 45, 55, 0.9);
}

.dpd2Desplegado {
    margin-top: var(--alturaDropdown2);
}

@media (min-width: 960px) {

    .dropdown3 {
        left: -8rem;
        width: 150%;
        overflow: hidden;
        top: 110%;
        line-height: 2;
    }

    .dropdown3 a {
        /* padding: 1.3rem; */
        padding: 1.5rem;
        line-height: 1.3 !important;
    }
}

@media (max-width: 959px) {

    .dropdown3 {
        /* top: 114%;
        left: -1%;
        right: -1%; */
        width: 100%;
        top: 114%;
        /* margin-left: 1.9rem; */
    }

    .dropdown3 a{
        padding: 1.3rem 1rem;
        line-height: 1.3;
    }
}

.dropdown3 {
    /* border: black solid .1rem; */
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    text-align: left;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

.dropdown3 a {
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    max-height: 50px;
    color: black;
    white-space: wrap;
    /* Evita que el texto se rompa en varias líneas */
    box-sizing: border-box;
    margin: auto 0;
}


.dropdown3 a:active {
    color: rgba(190, 45, 55, 0.9);
}

.dpd3Desplegado {
    margin-top: var(--alturaDropdown3);
}

@media (max-width: 959px) {
    .BtnAM {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .BtnCM {
        cursor: pointer;
    }

    .enmarcado:hover {
        color: rgba(190, 45, 55, 0.9);

    }

    /* configurar funcion para djear el nuevo borde de letra cuando se tenga activo el sub menú */

    .item {
        display: flex;
        font-size: 1em;
        height: 5rem;
        line-height: 0;
        align-items: center;
        justify-content: left;
        text-align: left;
        border-style: solid;
        border-top-color: white;
        border-left-color: white;
        border-right-color: white;
        width: 100%;
        /* border: solid black .1rem; */
        border-bottom: solid .1rem var(--rojoIconos);
    }

    .flechaItem {
        display: block;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        /* transition: opacity 0.3s ease, visibility 0.3s ease; */
        /* Transición suave */

        position: absolute;
        flex-direction: column;
        color: black;
        top: var(--alturaEncabezado);
        right: 0;
        background-color: white;
    }

    .menu.visible {
        opacity: 1;
        visibility: visible;
        padding: 2rem;
        border-bottom-left-radius: 5px;
        width: 100%;
        z-index: 1000;
        /* padding-left: 7.5rem; */
    }

    #DropD {
        display: flex;
        align-items: center;
        align-content: center;
    }

    .desplegable1,
    .desplegable2,
    .desplegable3 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
        align-items: center;
        align-content: center;
    }

    #DropD2 {
        display: flex;
        align-items: center;
        align-content: center;
    }



    .underline {
        background-color: white;
    }

    .item:hover .dropdown1 {
        display: none;
    }

    .item:hover .dropdown2 {
        display: none;
    }

    .item:hover .dropdown3 {
        display: none;
    }
}

/*Nav-list es mi encabezado*/

/*Su header es mi navE*/